body {
    background-image: url("http://2016.igem.org/wiki/images/8/85/T--UCAS--bg.png");
}

#content {
    background-image: url("http://2016.igem.org/wiki/images/8/85/T--UCAS--bg.png");
}

.home-content {
    background-color: gainsboro;
}

.home-content .mid_col {
    background-color: #eee;
}

.carouselImg {
    width: 100%;
}

.wikiImg {
    width: 100%;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: center;
    vertical-align: middle;
}

.carousel-indicators .active {
    background-color: black;
}